<h1>About Bloccit</h1>
<p>Bloccit is a Reddit clone. It was made to teach the fundamentals of Ruby on Rails, CRUD, and RESTful API implementation. Although it doesn't <em>look</em> like much, Bloccit is a fully-functioning Reddit clone, packed with all the great feautures you're used to when you use the real thing.</p>

<h4>Developmental Highlights</h4>
<ul>
	<li>User roles and athentication built from the ground up.</li>
	<li></li>
</ul>
