// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-post {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.new-post h1 {
	margin-right: 15px;
	margin-top: initial;
	margin-bottom: initial;
}
